* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

body {
  background-color: #522a80;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 8vw;
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
}

/* ===== MENU LATERAL ===== */
.nav-header {
  display: none; 
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 4px 8px 4px 8px rgba(0, 0, 0, 0.2);
  width: 22vw;
  height: 50vw;
  padding: 20px;
  z-index: 500;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 5px;
  right: 0;
}

#ul-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
  margin-top: 5vw;
}

#ul-nav li {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  
}

#ul-nav li:hover {
  background-color: #c0c0c0;
}
.li-nav a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 8vw;
  height: 8vw;
  margin-left: 10px;
}

.ri-menu-line {
  font-size: 1.5vw;
  margin-right: 2vw;
  cursor: pointer;
  background-color: white;
}

.ri-menu-line:hover {
  background-color: lightgrey;
  border-radius: 5px;
}

.div-menu-line {
  background-color: white;
}

#div-close {
  position: absolute;
  background-color: #d9d9d9;
  right: 3vw;
  top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

#close-nav {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #d9d9d9;
}

/* ===== MAIN ===== */
main {
  width: 90vw;
  height: auto;
  background-color: #3e006a;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.row-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #3e006a;
  z-index: 1;
}

.col-main {
  display: flex;
  flex-direction: column;
}

.container-img {
  background-color: #3e006a;
}

#imgBack {
  width: 24vw;
  height: 45vh;
  border-radius: 20px;
  margin-right: 4vw;
  margin-top: 4vh;
  z-index: 1;
}

.title-main {
  display: flex;
  color: white;
  font-size: 50px;
  margin-top: 10vh;
  margin-left: 30px;
  background-color: #3e006a;
}

#a-cadastrar {
  width: 15vw;
  height: 5vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  color: black;
  border-radius: 40px;
  border: none;
  background: #f0ca24;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
#a-cadastrar:hover {
  background: #f59e0b;
  transform: translateY(-5px);
}

#button-cadastrar:active {
  background: #b39929;
  color: white;
}

#aside-message {
  display: flex;
  flex-direction: column;
  background-color: #3e006a;
  height: 20vw;
  justify-content: space-evenly;
  gap: 50px;
}

.main-cards {
  background-color: #3e006a;
  height: 25vw;
}

.div-cards {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 85vw;
  height: 30vw;
  background-color: #3e006a;
  gap: 25px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  border-radius: 12px;
  padding: 4rem;
  box-shadow: 0 4px 20px rgba(202, 196, 196, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: auto 0;
  align-items: center;
  text-align: center;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.text-card {
  background-color: white;
}
.platform-icon {
  background-color: white;
}
.card-icon {
  background-color: white;
}

.saiba-btn {
  display: flex;
  width: 7.625rem;
  height: 1.875rem;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  border: 2px solid #000;
  background: #f0ca24;
  cursor: pointer;
}
.saiba-btn:hover {
  background: #f59e0b;
  transform: scale(1.1);
}

#div-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #3e006a;
}
